html,
body,
.app-layout,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #292929;
}


    
.threat-tooltip {
    padding: 0;

    li {
        margin-bottom: 10px;
        list-style: none;
    }

    li:last-child {
        margin-bottom: 0;
    }

    .spacer {
        border: solid 1px black;
    }
}