.map-layout {    
    width: 100%;
    height: calc(100% - 50px);

    .map .rsm-zoomable-group {
        width: 100%;
        height: 100%;

        cursor: grab;
        cursor: -webkit-grab;
    
        path,
        g {
            outline: none;
        }

    
        .threat-marker {
            opacity: .5;
            animation-name: pulsing;
            animation-duration: 4s;
            animation-iteration-count: 1;
        }

        .threat-marker.zoom-in {
            cursor: zoom-in;
        }
        .threat-marker.zoom-out {
            cursor: zoom-out;
        }

        .rsm-annotation  {
            fill: rgb(207, 207, 207);
        }
    }

    .map.moving .rsm-zoomable-group {
        cursor: grabbing;
        cursor: -webkit-grabbing;
    }
    
    .zoom-wrapper {
        position: absolute;
        right: 0;
        margin: 10px;
    
        button {
            cursor: pointer;
            opacity: .6;
        }

        button:hover {
            opacity: .9;
        }
    }

    .count-wrapper {
        position: absolute;
        color: white;
        opacity: .6;

        .data-count {
            margin: 10px;
        }
    }
}



@keyframes pulsing {
    0%   {
        opacity: .5;
        r: 1;
    }
    25%  {
        opacity: 1;
    }
    50%  {
        opacity: .5;
        r: 15;
    }
    75%  {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}